<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="brainHelper" class="com.example.demo.HUMAN.Brain"/>
    <bean id="hearthHelper" class="com.example.demo.HUMAN.Hearth"/>
    <bean id="lungHelper" class="com.example.demo.HUMAN.Lung"/>

    <bean id="humanBody" class="com.example.demo.HUMAN.HumanBody">
        <property name="brain" ref="brainHelper"/>
        <property name="hearth" ref="hearthHelper"/>
        <property name="lung" ref="lungHelper"/>

        <property name="informationAboutPerson" value="${human.information}"/>
    </bean>



</beans>